@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;700&family=Roboto:wght@400;700&family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Font Section */

@layer base {
    html {
        font-family: 'Nunito', sans-serif;
        font-family: 'Nunito Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
}


/* Name Writing animation */
.writer-text {
    display: inline-block;
    overflow: hidden;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    border-right: 2px solid rgb(0, 64, 255);
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 65%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(0, 68, 255);
    }
}